* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', 'Roboto+Condensed', 'Roboto+Slab', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
    }

a {
    display: block;
    color: white;
    text-decoration: none;
    }

/* HEADER */
header {
    /* border: 1px solid white; */
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 100px;
    height: auto;
    width: 100%;
    }

#logo {
    font-family: 'Roboto+Slab';
    letter-spacing: -0.25ch;
    font-size: 100px;
    border: 1px solid white;
    padding: 0 15px 0 5px;
    }

header nav {
    /* border: 1px solid blue; */
    padding-top: 25px;
    margin-right: 20px;
    width: 80%;
    font-size: 2rem;     
    }

header ul {
    float: right;
    display: flex;
    }

header li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    }

header li a:hover {
    background-color: #333333;
    text-shadow: 2px 2px 3px black;
    color: wheat;
    }


/* MAIN */
main {
    /* border: 1px solid red; */
    display: block;
    color: white;
    min-height: 300px;
    }

main section {
    /* border: 1px solid green; */
    min-height: 200px;
    padding: 20px 20px 40px 20px;
    width: 100%;
    }

/* INTRO */
#intro {
    /* border: 1px solid pink; */
    background-color: black;
    height: auto;
    display: flex;
    }

#intro span {
    font-family: 'Roboto+Slab';
    font-weight: 600;
    font-size: 100px;
    color: wheat;
    }

#intro div {
    /* border: 1px solid yellow; */
    width: 55%;    
    font-size: 32px;
    margin-left: 20%;
    }

#profile_pic{
    height: auto;
    width: 200px;
    border-radius: 200px;
    align-self: center;
    }

/* ABOUT */
#about {
    /* border: 2px dashed red; */
    background-color: black;
    padding-left: 10%;
    }

#about h1 {
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: bolder;
    padding-bottom: 16px;
    }

#about h2 {
    color: wheat;
    font-size: 2.8rem;
    font-weight: bolder;
    }

#about p {
    color: wheat;
    font-size: 2rem;
    padding-top: 20px;
    line-height: 1.5;
    max-width: 60ch;
    }

/* PROJECTS */
#projects {
    border: 2px dashed orange;
    background-color: darkgreen;
    padding-left: 10%;
    }

#projects div{
    border: 2px dashed grey;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    }

#skills {
    border: 2px dashed orchid;
    padding: 0;
    width: 40%;
    font-size: 2rem;
    }

#skills h1 {
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: bolder;
    padding-bottom: 16px;
    color: white;
    }

#projectLinks {
    border: 2px dashed orangered;
    padding: 0;
    width: 50%
    }

/* CONTACT */
#contact {
    background-color: wheat;
    padding-left: 10%;
    }

#contact h1 {
    padding-bottom: 16px;
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: 900;
    color:darkgreen;
    }

#contact h2 {
    color: #333333;
    font-size: 28px;
    font-weight: bolder;
    line-height: 1.2;
    max-width: 50ch;
    }

#contact p {
    color: black;
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.5;
    
    }

/* FOOTER */
footer {
    display: flexbox;
    background-color: black;
    min-height: 50px;
    height: auto;
    width: 100%;
    padding: 10px 20px 0 10px;
    text-align: center;
    font-size: 16px;
    font-weight: light;
    color: #555555;
    }

footer ul {
    display: flex;
    float: center;
    justify-content: space-evenly;
    padding: 0 20%;
    }

footer li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    }

footer li a:hover {
    background-color: #444;
    text-shadow: 2px 2px 3px black;
    color: wheat;

    }

footer p {
    padding: 15px 40px;
    }