* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html {
    font-family: 'Roboto', 'Roboto+Condensed', 'Roboto+Slab', sans-serif;
    scroll-behavior: smooth;
    font-size: 62.5%;
    }

a {
    display: block;
    color: white;
    text-decoration: none;
    }

/* HEADER */
header {
    /* border: 1px solid white; */
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 100px;
    height: auto;
    width: 100%;
    }

#logo {
    font-family: 'Roboto+Slab';
    letter-spacing: -0.25ch;
    font-size: 100px;
    border: 1px solid white;
    padding: 0 15px 0 5px;
    }

header nav {
    /* border: 1px solid blue; */
    padding-top: 25px;
    margin-left: 20px;
    width: 80%;
    font-size: 2rem;     
    }

header ul {
    float: right;
    display: flex;
    }

header li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    }

header li a:hover {
    background-color: #333333;
    text-shadow: 2px 2px 3px black;
    color: wheat;
    }


/* MAIN */
main {
    /* border: 1px solid red; */
    display: block;
    color: white;
    min-height: 300px;
    }

main section {
    /* border: 1px solid green; */
    min-height: 200px;
    padding-bottom: 30px;
    width: 100%;
    }

/* INTRO */
#intro {
    /* border: 2px dashed white; */
    background-color: black;
    height: auto;
    display: flex;
    }

#intro span {
    font-family: 'Roboto+Slab';
    font-weight: 600;
    font-size: 10rem;
    color: wheat;
    }

#intro div {
    /* border: 2px dashed white; */
    width: 55%;    
    font-size: 32px;
    margin-left: 20%;
    }

#profile_pic{
    height: auto;
    width: 200px;
    border-radius: 200px;
    align-self: center;
    }

/* ABOUT */
#about {
    /* border: 2px dashed red; */
    background-color: black;
    padding: 30px 0;
    }

#about h1 {
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: bolder;
    margin-left: 12%;
    padding-bottom: 16px;
    }

#about h2 {
    color: wheat;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-left: 12%;
    }

#about p {
    /* border: 2px dashed red; */
    color: wheat;
    font-size: 2rem;
    padding-top: 20px;
    margin-left: 20%;
    line-height: 1.5;
    width: 70%;
    }

/* PROJECTS */
#projects {
    /* border: 2px dashed orange; */
    background-color: darkgreen;
    padding: 30px 0;
    }

#projects div{
    border: 2px dashed grey;
    margin-left: 12%;
    width: 90%;    
    display: flex;
    }

#projectLinkBig {
    border: 2px dashed orchid;
    padding: 0;
    width: 40%;
    font-size: 2rem;
    }

#projectLinkBig h1 {
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: bolder;
    padding-bottom: 16px;
    color: white;
    }

#projectLinkBig a {
    height: 470px;
    width: 470px;
    background-color: #333333;
    border-radius: 1rem;
    }

#projectLinkSmall {
    border: 2px dashed orangered;
    padding: 0;
    width: 40%
    }

#projectLinkSmall a {
    height: 230px;
    width: 230px;
    background-color: #333333;
    border-radius: 1rem;
    display: inline-block;
    margin: 15px;
    }

/* CONTACT */
#contact {
    background-color: wheat;
    padding: 30px 0;
    }

#contact div{
    border: 2px dashed grey;
    margin-left: 12%;
    width: 90%;    
    display: flex;
    }

#contactLeft {
    width: 40%;
    }

#contact h1 {
    padding-bottom: 1.6rem;
    font-size: 3.2rem;
    font-family: 'Roboto+Slab';
    font-weight: 900;
    color:darkgreen;
    }

#contact p {
    color: black;
    font-size: 2rem;
    line-height: 1.5;
    } 

#contactLinks {
    display: flex;
    margin-left: 20%;
    width: 200px;
    }

#contactLinks img {
    height: 50px;
    width: auto;
    }

#contactForm {
    width: 40%;
}

/* FOOTER */
footer {
    display: flexbox;
    background-color: black;
    min-height: 50px;
    height: auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: light;
    color: #555555;
    }

footer ul {
    display: flex;
    float: center;
    justify-content: space-evenly;
    padding: 0 20%;
    }

footer li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    }

footer li a:hover {
    background-color: #444;
    text-shadow: 2px 2px 3px black;
    color: wheat;

    }

footer p {
    padding: 15px 40px;
    }